version: "3.8"

services:
  postgresdb:
    image: postgres:latest
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: tbd
      POSTGRES_DB: mockpfi
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "postgres", "--health-cmd", "pg_isready"]
      interval: 2s
      timeout: 1s
      retries: 5

  pfi-app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "9000:9000"
    environment:
      NODE_ENV: production
      # environment info
      ENV: production
      LOG_LEVEL: info
      HOST: localhost
      PORT: 9000

      # DB info
      SEC_DB_HOST: localhost
      SEC_DB_PORT: 5432
      SEC_DB_USER: postgres
      SEC_DB_PASSWORD: tbd
      SEC_DB_NAME: mockpfi
    depends_on:
      - postgresdb