* {
  font-family: 'IBM Plex Mono', monospace;
}

body,
html {
  background-color: #FFDD00;
}

ul {
  padding: 0;
  margin: 0;
}

button,
input[type="text"] {
  padding: 5px 10px;
  width: 100%;
  max-width: 500px;
  box-sizing: border-box;
}

.dinged-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.ding-sections {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dinged-section,
.dinged-by-section {
  width: 100%;
}

#did-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 10px;
}

#header {
  display: flex;
  align-items: center;
}

#title {
  border-bottom: 5px solid black;
}

#subtitle {
  margin-left: 5px;
  font-size: 20px;
  font-style: italic;
  font-family: 'IBM Plex Mono', monospace;
}

#ding-error {
  color: red;
  margin-bottom: 5px;
}

#did,
#note {
  margin-bottom: 10px;
}

#ding-progress {
  color: green;
  margin-left: 5px;
}

@media (min-width: 600px) {
  #did-buttons {
    flex-direction: row;
  }

  .ding-sections {
    flex-direction: row;
  }

  .dinged-section,
  .dinged-by-section {
    width: 50%;
  }
}