/* Base styles */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
body {
  transition: background-color 0.3s, color 0.3s;
}

/* Light theme styles */
body.light-mode {
  background-color: #ffffff;
  color: #000000;
}

body.light-mode nav {
  background-color: #f0f0f0;
}

body.light-mode nav a {
  color: #000000;
}

body.light-mode nav a:hover {
  background-color: #cccccc;
}

body.light-mode .theme-toggle-btn {
  background-color: #f0f0f0;
  color: #000000;
  border: 1px solid #000000;
}

/* Dark theme styles */
body.dark-mode {
  background-color: #1a1a1a;
  color: #f5f5f5;
}

body.dark-mode nav {
  background-color: #333;
}

body.dark-mode nav a {
  color: #f5f5f5;
}

body.dark-mode nav a:hover {
  background-color: #575757;
}

body.dark-mode .theme-toggle-btn {
  background-color: #333;
  color: #f5f5f5;
  border: 1px solid #f5f5f5;
}

/* Theme toggle button styles */
.theme-toggle-btn {
  padding: 10px;
  margin-left: auto;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.theme-toggle-btn:hover {
  opacity: 0.8;
}
body.dark-mode {
  background-color: #1a1a1a !important;
  color: #f5f5f5 !important;
}

body.light-mode {
  background-color: #ffffff !important;
  color: #000000 !important;
}
